.site-header__box{
    position: relative;
    padding-top: 40px;
    padding-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__box--active .site-header__nav{
    display: block;
}

.site-header__nav{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: 320px;
    padding: 40px 0;
    background: #3A3054;
    border-radius: 10px;
    z-index: 10;
}


.site-header__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
}

.site-header__item{
    margin-bottom: 30px;
}

.site-header__link{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    &:hover{
        color: #34313D;
    }
}

.site-header__enter{
    width: 80%;
    min-width: 279px;
    margin: 0 auto;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border-top: 1px solid #fff;
}

.site-header__login{
    margin-bottom: 24px;
}

.site-header__login:nth-child(2){
    width: 100%;
    min-width: 279px;
    margin: 0 auto;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 9px;
    background: #2BD0D0;
    border-radius: 28px;
    text-align: center;
}

.site-header__button{
    background-image: url("../images/hamburger-menu.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;
    border: none;
    background-color: transparent;
}

@media only screen and (min-width: 860px){
    .site-header__box{
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0px;
        padding-bottom: 23px;
    }
    
    .site-header__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: static;
        top: 0;
        width: 100%;
        min-width: 320px;
        padding: 40px 0;
        background: transparent;
        border-radius: 0;
    }
    
    
    .site-header__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        text-align: center;
        margin-left: 45px;
    }
    
    .site-header__item{
        margin-bottom: 0;
        margin-right: 29px;
    }
    
    .site-header__item:last-child{
        margin-right: 0;
    }
    
    .site-header__link{
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: #9E9AA8;
    }
    
    .site-header__enter{
        width: 80%;
        max-width: 279px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0;
        list-style: none;
        margin-top: -30px;
        border-top: 1px solid #fff;
    }
    
    .site-header__login{
        margin-bottom: 0;
    }
    
    .site-header__login:nth-child(2){
        min-width: 0;
        max-width: 105px;
        margin: 0 0;
        margin-left: 37px;
        padding-top: 12px;
        padding-bottom: 12px;
        background: #2BD0D0;
        border-radius: 28px;
        text-align: center;
    }
    
    .site-header__login:nth-child(2) > .site-header__link{
        color: #fff;
    }
    
    .site-header__button{
        display: none;
    }
}

@media only screen and (min-width: 1120px){
    .site-header__box{
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0px;
        padding-bottom: 23px;
    }
    
    
    
    .site-header__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: static;
        top: 0;
        width: 100%;
        min-width: 320px;
        padding: 40px 0;
        background: transparent;
        border-radius: 0;
    }
    
    
    .site-header__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        text-align: center;
        margin-left: 45px;
    }
    
    .site-header__item{
        margin-bottom: 0;
        margin-right: 29px;
    }
    
    .site-header__item:last-child{
        margin-right: 0;
    }
    
    .site-header__link{
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: #9E9AA8;
    }
    
    .site-header__enter{
        width: 80%;
        max-width: 279px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0;
        list-style: none;
        margin-top: -30px;
        border-top: 1px solid #fff;
    }
    
    .site-header__login{
        margin-bottom: 0;
    }
    
    .site-header__login:nth-child(2){
        min-width: 0;
        max-width: 105px;
        margin: 0 0;
        margin-left: 37px;
        padding-top: 12px;
        padding-bottom: 12px;
        background: #2BD0D0;
        border-radius: 28px;
        text-align: center;
        &:hover{
            background-color: #9AE3E3;
        }
    }
    
    .site-header__login:nth-child(2) > .site-header__link{
        color: #fff;
    }
    
    .site-header__button{
        display: none;
    }
}